body {
    margin: 0;
    width: 1440px;

}

header {
    text-align: center;
    background-image: url("../img/header__bg.png");
    height: 768px;
}

.header__logo {
    padding-top: 41px;
}

.header__presents {
    padding-top: 317px;
}

.header__presents h1 {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    /* letter-spacing: 0.1em; */
    text-align: center;
    color: #fff;
}

.header__presents p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin: 0
}

.header__scroll p {
    padding-top: 221px;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;
}

.section__navbar {
    display: flex;
    height: 65px;
}

.menu__panel {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 24px 0;
    padding: 0 250px;
}

ul li {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
    cursor: pointer;
}

ul li:hover {
    color: #00a4e5
}

.nav__logo {
    margin: 24px 0;
    padding: 0 251px;
}

.about__section {
    width: 941px;
    height: 344px;
    margin: 58px 250px 118px 249px;
    overflow: hidden;
}

.about__top {
    margin: auto;
    width: 150px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
}

.about__top h3 {
    margin: 0;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__left {
    width: 408.5px;
    padding-top: 80px;
}

.about__left span {
    letter-spacing: 0.01em;
    color: #16ace8;
}

.founded {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
}

.lorem {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    padding-top: 5px;
}

.about__right {
    display: flex;
    justify-content: space-between;
    width: 480px;
    padding-top: 84px;
}

.about__card1,
.about__card2,
.about__card3 {
    width: 140px;
    height: 224px;
}

.about__card1 {
    background-image: url("../img/about__we_plan.png")
}

.about__card2 {
    background-image: url("../img/about__we_manage.png")
}

.about__card3 {
    background-image: url("../img/about__we_build.png")
}