body {
    margin: 0;
    width: 1440px;
    background: #fff;

}

header {
    text-align: center;
    background-image: url("../img/header__bg.png");
    height: 768px;
}

.header__logo {
    padding-top: 41px;
}

.header__presents {
    padding-top: 317px;
}

.header__presents h1 {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    /* letter-spacing: 0.1em; */
    text-align: center;
    color: #fff;
}

.header__presents p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin: 0
}

.header__scroll p {
    padding-top: 221px;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;
}

.section__navbar {
    display: flex;
    height: 65px;
}

.menu__panel {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 24px 0;
    padding: 0 250px;
}

ul li {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
    cursor: pointer;
}

ul li:hover {
    color: #00a4e5
}

.nav__logo {
    margin: 24px 0;
    padding: 0 251px;
}

.about__section {
    width: 941px;
    height: 344px;
    margin: 58px 250px 118px 249px;
    overflow: hidden;
}

.about__top {
    margin: auto;
    width: 150px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
}

.about__top h3 {
    margin: 0;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__left {
    width: 408.5px;
    padding-top: 80px;
}

.about__left span {
    letter-spacing: 0.01em;
    color: #16ace8;
}

.founded {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
}

.lorem {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    padding-top: 5px;
}

.about__right {
    display: flex;
    justify-content: space-between;
    width: 480px;
    padding-top: 84px;
}

.about__card1,
.about__card2,
.about__card3 {
    width: 140px;
    height: 224px;
}

.about__card1 {
    background-image: url("../img/about__we_plan.png")
}

.about__card2 {
    background-image: url("../img/about__we_manage.png")
}

.about__card3 {
    background-image: url("../img/about__we_build.png")
}

.services__section {
    width: 940px;
    height: 446px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__header {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.services__header h3 {
    width: 199px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555b;
    margin: 0;
}

.services__header p {
    width: 408.5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: #48555b;
}

.btn {
    width: 150px;
    height: 40px;
    background: #00a4e5;
    border: none;
    color: white;
    cursor: pointer;
}

.service__cards {
    display: flex;
    justify-content: space-between;
}

.service__card {
    width: 295px;
    height: 330px;
    box-sizing: border-box;
    padding: 39px 23px;
    border: solid 1px rgb(0, 0, 0, .5)
}

.service__card h6 {

    margin: 25px auto 13px auto;
}

.service__card p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}

.get_in_touch {
    width: 1440px;
    height: 499px;
    background-image: url(/img/get_in_touch_bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get_in_touch p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #48555b;
    width: 350px;
    height: 72px;
    margin: 0;
}

.get_in_touch button {
    margin-top: 35px;
}